.category {
  background-color: aliceblue;
  height: auto;
  width: auto;
  min-width: 10rem;
  margin: 1.5rem;
  padding: 0rem 2rem;
  box-shadow: rgba(40, 44, 52, 0.25) 0px 4px 8px -2px,
    rgba(40, 44, 52, 0.08) 0px 0px 0px 1px;
}

li {
  list-style: none;
  text-align: left;
  padding: 0;
  margin-bottom: 0.5rem;
}

label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: medium;
}

ul {
  padding-left: 0;
  list-style: none;
}

.app-checkbox,
.app-name,
.app-icon {
  vertical-align: middle;
  margin-left: 0.75rem;
  height: 1.5rem;
}
