.button {
  background-color: #282c34;
  border: 0;
  box-shadow: rgba(40, 44, 52, 0.25) 0px 4px 8px -2px,
    rgba(40, 44, 52, 0.08) 0px 0px 0px 1px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0;
  min-height: 2rem;
  min-width: 10rem;
  padding: 16px 20px;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button:hover {
  background-color: rgba(40, 44, 52, 0.9);
  transform: translateY(-2px);
}
